* {
    margin: 0;
    padding: 0;
}

/* El posicionamiento de los elementos html responde al denominado flujo web: los elementos se van ubicando de izquierda a derecha
y arriba a abajo, salvo que sean en bloque que ocupan todo el ancho de su contendor incluso si su dimension es menor. */

/* Position relative (posiciona el elemento de forma relativa a donde debería estar) */

.caja-1 {
    width: 300px;
    height: 200px;
    background-color: green;
    position: relative;
    top: 20px; /* la referencia del elemento es siempre el extremo superior izquierdo */
    left: 30px;
}

.caja-2 {
    width: 150px;
    height: 90px;
    background-color: blueviolet;
    position: relative;
    top: -40px;
    left: 120px;
}

/* Position fixed (posiciona el elemento fijo al dispositivo) */

.caja-3 {
    width: 400px;
    height: 150px;
    background-color: chocolate;
    position: fixed; /* Usamos dos de las cuatro esquinas de la pantalla para referenciarlo*/
    bottom: 40px;
    right: 60px;
}

/* Position absolute (posiciona el elemento fijo al contenedor padre) */
/* El contendor padre debe estar posicionado*/

.caja-4 {
    width: 30%;
    height: 200px;
    background-color: grey;
    position: relative;
    margin: 100px auto 100px;
}

.caja-5 {
    width: 30px;
    height: 30px;
    background-color: crimson;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Position sticky (mantien su posición natural hasta que llega a los valores proporcionados)*/

h1 {
    font-size: 32px;
    text-align: center;
}

.titulo-sticky {
    background-color: green;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
}

.titulo-sticky-2 {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 57px;
    left: 0;
}

